.board{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    max-width: 250px;
}
.square{
    width:70px;
    height:70px;
    color: black;
    font-size: 60px;
    border-radius: 0%;
    border: 1px solid black;
    background-color: #3498db;
}
.square:hover{
    background-color: rgb(159, 216, 239);
}
.heading{
    text-align: center;
    padding: 10px;
    font-size: 65px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: blue;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reset{
    border: none;
    background-color: rgb(254, 244, 224);
    color: red;
    margin-top: 40px;
    width: 100px;
    height:50px;
}
.reset:hover{
    background-color: wheat;
    border: 1px solid red;
}
.ans{
    background-color: rgb(57, 198, 57);
}
.block{
    pointer-events: none;
    cursor: not-allowed; 
}
.winstatement{
    text-align: center;
    font-size: 40px;
    padding: 5px;
    opacity: 1 !important;
    color:rgb(111, 2, 158);
    font-family:monospace;
    opacity: 1 !important;
    margin-bottom: 10px;
    min-width: 200px;
}
.main{
    border: 4px solid black;
    background: linear-gradient(to bottom,  #d6cdda ,#906d9d); 
    padding: 10px;
}
.toggle-container {
    margin-top: 20px;
    margin-left: -20px;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-container.on {
    background-color: #4caf50; /* Color when the button is ON */
  }
  
  .toggle-container.off {
    background-color: #e74c3c; /* Color when the button is OFF */
  }

  .toggle-button {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle-container.on .toggle-button {
    transform: translateX(30px); /* Move to the right when the button is ON */
  }
span{
    color:rgb(14, 5, 20);
    font-size:x-large;
    font-family:monospace;
}